.body{
display:flex;
}

.sidebar{
width:180px;
background:rgba(247,251,249,0.6);
border-right:2px solid rgba(213,233,219,0.7);
padding:20px 15px;
}

.sidebar .item{
display:flex;
align-items:center;
gap:10px;
font-weight:600;
color:#0b6b4a;
margin-bottom:16px;
border-radius:8px;
padding:8px;
cursor:pointer;
transition:.3s;
}

.sidebar .item:hover{
background:rgba(223,242,230,0.7);
transform:translateX(5px);
}

.main{
display:flex;
flex-direction:column;
gap:20px;
padding:25px;
width:100%;
}

.account-box{
background:rgba(255,255,255,0.9);
border:1px solid #cfe7d6;
border-radius:12px;
padding:18px 25px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.transfer-form{
background:rgba(255,255,255,0.8);
border:2px solid #cfe7d6;
border-radius:20px;
padding:20px;
width:100%;
}

.transfer-form input{
width:100%;
padding:10px 12px;
margin-bottom:12px;
border:1.8px solid #b8dbcb;
border-radius:8px;
font-size:15px;
}

.transfer-form button{
width:48%;
padding:12px;
background:#0b6b4a;
color:#fff;
font-weight:700;
border:none;
border-radius:8px;
cursor:pointer;
}