/* LOGIN PAGE */

body{
background:url('https://images.unsplash.com/photo-1521791136064-7986c2920216') center/cover no-repeat;
}

/* LOGIN BOX */

.login-box{
background:rgba(255,255,255,.2);
padding:60px 50px;
border-radius:20px;
box-shadow:0 8px 25px rgba(0,0,0,.25);
width:90%;
max-width:600px;
text-align:center;
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.3);
margin-top:180px;
}

.login-box h2{
margin-bottom:30px;
font-size:30px;
color:#083c24;
}

.register{
margin-top:25px;
font-size:22px;
}

.toggle{
position:absolute;
top:50%;
right:15px;
transform:translateY(-50%);
cursor:pointer;
}